*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html,body{
    background-color: #6D9773;
    width: 100%;
}

header{
    background-color: #0C3B2E;
    height:100px;
    width: 100%;
    
}
.identifier{
    margin-right: 100px;
    float: right;
    
}
.user{
    height: 70px;
    margin-top: 15px;
    float: left;
    border-radius: 40px;
}
.user_name{
    padding-left: 80px;
    font-size: 21px;
    color: white;
    font-family:serif;
    margin-top: 25px;
    
}
.category{
    
    float: left;
    height: 55px;
    width: 150px;
    text-align: center;
    margin-top: 22px;
    border-radius: 10px;
    background-color: #BB8A52;
    margin-left: 90px;
    font-size: 20px;
    font-weight:200;
    color: white;
    box-sizing: border-box;
    padding: 15px;
}
main{
    border: 1px solid black;
    padding: 10px;
    margin-top: 5px;
    height:90%;
    width: 920px;
    background-color: #0C3B2E;
    float: left;
}
aside{
    border: 1px solid black;
    padding: 200px;
    display: inline;
    clear: both;
    margin-left: 5px;
    
    
}