*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html,body{
    background-color: #6D9773;
    width: 100%;
}

header{
    background-color: #0C3B2E;
    height:100px;
    width: 100%;
    
}
.identifier{
    margin-right: 100px;
    float: right;
    
}
.user{
    height: 70px;
    margin-top: 15px;
    float: left;
    border-radius: 40px;
}
.user_name{
    padding-left: 80px;
    font-size: 21px;
    color: white;
    font-family:serif;
    margin-top: 25px;
    
}
.category{  
    float: left;
    height: 55px;
    width: 150px;
    text-align: center;
    margin-top: 22px;
    border-radius: 10px;
    background-color: #BB8A52;
    margin-left: 90px;
    font-size: 20px;
    font-weight:200;
    color: white;
    box-sizing: border-box;
    padding: 15px;
}
main{ 
    padding: 10px;
    margin-top: 5px;
    height:90%;
    width: 67%;
    background-color: #0C3B2E;
    float: left;
}
aside{  
    height: 60%;
    margin-left: 5px;
    width: 32%;
    float: right;
    margin: 5px;
    background-color: #0C3B2E;
}
article{ 
    height: 29%;
    width:32%;
    display: flex;
    margin-left: 914px;
    
}
.add{
    padding: 60px;
    border-radius: 100%;
    background-color: #BB8A52;
    border: 0px;
    margin-left: 140px;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
}
.status{
    background: 0%;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    height: 13%;
    margin-left: 70px;
    padding: 10px;
    border:1px solid black;
}
.dropdown{
    height: 35px;
    width: 50px;
    margin-left: 500px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f936;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    
}
.status:hover .dropdown-content{
    display: block;
}